<div class="preview ui-shadow swatch">
  <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
    <a class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="home" title=" Inicio ">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text"> Inicio </span>
				<span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow"></span>
			</span>
    </a>

    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Recordador-App</h1
    >
    <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="grid" title=" Navegación ">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text"> Navegación </span>
				<span data-form="ui-icon" class="ui-icon ui-icon-grid ui-icon-shadow"></span>
			</span>

    </a>
  </div>

  <div class="ui-content ui-body-a" data-theme="a" data-form="ui-body-a" data-role="content" role="main">

    <h2>
      <!--Sample text and <a class="ui-link" data-form="ui-body-a" href="#" data-theme="a">links</a>.-->
      Que olvidaras?
    </h2>

    <% form_for @model, url: {action: 'create' }, html: {class: "form-horizontal", :multipart => true} do |f| %>
        <fieldset data-role="controlgroup">
          <label for="titulo">Titulo</label>
          <input type="text" id="titulo" name="titulo" class="input" data-form="ui-body-a" required="required" />
        </fieldset>

        <fieldset data-role="controlgroup">
          <label for="descripcion">Descripción</label>
          <input type="text" name="descripcion" id="descripcion" class="input" data-form="ui-body-a" required="required" />
        </fieldset>

        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <li data-swatch="a" class="ui-li ui-li-divider ui-btn ui-bar-a ui-corner-top" data-role="list-divider" role="" data-form="ui-bar-a">Favorito?</li>

            <input type="radio" name="favorite" id="radio-choice-1-a" value="true" checked="checked" required="required"/>
            <label for="radio-choice-1-a" data-form="ui-btn-up-a" class="ui-corner-none">SI</label>

            <input type="radio" name="favorite" id="radio-choice-2-a" value="false" required="required" />
            <label for="radio-choice-2-a" data-form="ui-btn-up-a">NO</label>
          </fieldset>
        </div>

        <input type="submit" id="create_btn" data-icon="star" data-theme="a" data-form="ui-btn-up-a" value="Guardar">
    <% end  %>
  </div>
</div>