<div data-role="page" id="home" data-theme="a">
  <div class="preview ui-shadow swatch">
    <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
      <a href="#home"  class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="home" title=" Inicio ">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-btn-text"> Inicio </span>
          <span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow"></span>
        </span>
      </a>

      <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Recordador-App</h1
      >
      <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="grid" title=" Navegación ">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text"> Navegación </span>
      <span data-form="ui-icon" class="ui-icon ui-icon-grid ui-icon-shadow"></span>
    </span>

      </a>
    </div>

    <div class="ui-content ui-body-a" data-theme="a" data-form="ui-body-a" data-role="content" role="main">
      <h2>
        Que quieres hacer?
      </h2>

      <div data-role="controlgroup">
        <a href="#new" data-role="button" data-icon="plus">Agregar Recordatorio</a>
        <a href="#list" data-role="button" data-icon="grid">Lista Recordaorios</a>
      </div>
    </div>
  </div>
</div>


<div data-role="page" id="new" data-theme="a">
  <div class="preview ui-shadow swatch">
    <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
      <a href="#home" class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="home" title=" Inicio ">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-btn-text"> Inicio </span>
          <span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow"></span>
        </span>
      </a>

      <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Recordador-App</h1
      >
      <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="grid" title=" Navegación ">
    <span class="ui-btn-inner ui-btn-corner-all">
      <span class="ui-btn-text"> Navegación </span>
      <span data-form="ui-icon" class="ui-icon ui-icon-grid ui-icon-shadow"></span>
    </span>

      </a>
    </div>

    <div class="ui-content ui-body-a" data-theme="a" data-form="ui-body-a" data-role="content" role="main">

      <h2>
        <!--Sample text and <a class="ui-link" data-form="ui-body-a" href="#" data-theme="a">links</a>.-->
        Que olvidaras?
      </h2>

      <form id="post_form" method="post">
          <fieldset data-role="controlgroup">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" class="input" data-form="ui-body-a" required="required" />
          </fieldset>

          <fieldset data-role="controlgroup">
            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" class="input" data-form="ui-body-a" required="required" />
          </fieldset>
          <!--
          <fieldset data-role="controlgroup">
            <label for="date">Fecha</label>
            <input name="date" id="date" value="" class="input" data-form="ui-body-a" type="date" required="required">
          </fieldset>

          <fieldset data-role="controlgroup">
            <label for="time">Hora</label>
            <input name="time" id="time" value="" class="input" data-form="ui-body-a" type="time" required="required">
          </fieldset>
          -->
          <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
              <li data-swatch="a" class="ui-li ui-li-divider ui-btn ui-bar-a ui-corner-top" data-role="list-divider" role="" data-form="ui-bar-a">Favorito?</li>

              <input type="radio" name="favorite" id="radio-choice-1-a" value="true" checked="checked" required="required"/>
              <label for="radio-choice-1-a" data-form="ui-btn-up-a" class="ui-corner-none">SI</label>

              <input type="radio" name="favorite" id="radio-choice-2-a" value="false" required="required" />
              <label for="radio-choice-2-a" data-form="ui-btn-up-a">NO</label>
            </fieldset>
          </div>

          <input type="submit" id="create_btn" data-icon="star" data-theme="a" data-form="ui-btn-up-a" value="Guardar">
      </form>
    </div>
  </div>

  <script type="text/javascript">
    (function(){
      'use strict';

      $( "#create_btn" ).click(function( event ) {
        var dataString = $('#post_form').serialize();

        $.post("/binnacle", dataString)
        .done(function( data ) {

          $.mobile.changePage($("#list"), {
            allowSamePageTransition: true,
            transition: 'slidedown',
            reloadPage: true
          });
          location.reload();
          /*
          $.mobile.changePage($("#list"), { transition: 'slidedown'});
          $(document).pageContainer('load', '#list', { reload: true});
          */
        });

        return false;
      });

    })();
  </script>
</div>


<div data-role="page" id="list" data-theme="a">
  <div class="preview ui-shadow swatch">
    <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
      <a href="#home"  class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="home" title=" Inicio ">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-btn-text"> Inicio </span>
          <span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow"></span>
        </span>
      </a>

      <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Recordador-App</h1
      >
      <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" data-iconpos="notext" data-theme="a" data-role="button" data-icon="grid" title=" Navegación ">
      <span class="ui-btn-inner ui-btn-corner-all">
        <span class="ui-btn-text"> Navegación </span>
        <span data-form="ui-icon" class="ui-icon ui-icon-grid ui-icon-shadow"></span>
      </span>

      </a>
    </div>

    <div class="ui-content ui-body-a" data-theme="a" data-form="ui-body-a" data-role="content" role="main">
      <ul data-role="listview" class="ui-listview">
        <!--<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-li-has-count ui-btn-up-undefined">Friday, October 8, 2010 <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span></li>-->

        <% @models.each do |model| %>
            <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
              <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                  <a href="index.html" class="ui-link-inherit">
                    <p class="ui-li-aside ui-li-desc">
                      <% if model.favorite %>
                      <span class="ui-icon ui-icon-star" style="top: 5%; background-color: yellow;"></span>
                      <% end %>
                    </p>
                    <h3 class="ui-li-heading"><%= model.title %></h3>
                    <p class="ui-li-desc"><%= model.description %></p>
                  </a>
                </div>
                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>



